.flex{
  display: flex;
  flex-wrap: wrap;
  }
  .shopping-cart{
    justify-content: space-between;
    background-color: rgb(58, 194, 194);
    padding: 20px 30px;
  }
  .product-item{
    padding: 20px;
  }